@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --color-primary: #6f6af8;
  --color-bg: #FFFFFF;

  --transition: all 300ms ease;

  --container-width-lg: 84%;
  --container-width-md: 84%;
  --form-width: 50%;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 1rem;
  --radius-4: 2rem;
}
/* #D2D7DF
#BDBBB0 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--color-bg);
  font-size: 0.9rem;
  line-height: 1.6;
  color: black;
}

.center {
  text-align: center;
  padding-top: 5rem;
  display: block;
  margin-inline: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: #D2D7DF;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  line-height: 1.4;
}

section {
  margin-top: 6rem;
}

.container {
  width: var(--container-width-lg);
  margin-inline: auto;
}

.btn {
  display:inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background-color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}


/*=== Navigation Bar === */
nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: rgba(53, 53, 53, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 4px solid var(--color-bg);
  backdrop-filter: blur(20px);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-logo {
  width: 3rem;
  display: block;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/*=== Home ===*/
/*=== Posts ===*/
.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.post {
  background: #D2D7DF;
  padding: 1rem;
  border-radius: var(--radius-4);
  padding-bottom: 2rem;
  transition: var(--transition);
  cursor: default;
}

.post:hover {
  box-shadow: 0 1.5rem 2rem rgba(0,0,0, 0.1);
}

.post-thumbnail {
  border-radius: var(--radius-3);
  overflow: hidden;
  height: 16rem;
}

.post-content {
  margin-top: 1.5rem;
}

.post-content h3 {
  margin: 1rem 0 0.6rem;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}

/*== Post Details ==*/
.post-detail {
  width: var(--form-width);
  background-color: var(--color-bg);
  margin-inline: auto;
  padding: 2rem 0;
}

.post-detail-thumbnail {
  margin: 1rem 0;
  height: fit-content;
  max-height: 30rem;
  overflow: hidden;
}

